
<md-content class="md-padding">

<h2 class="md-display-2">Students Ready for Pickup</h2>
<div class="display-content">
  <md-content class="md-padding cards">
    {{#each model as |pickup|}}
{{#md-button action="reset" param=pickup}}
    <md-card class="card">
        <md-card-content class="center">
          <h1 class="md-subhead">{{pickup.student_name}}</h1>
          <img src="{{pickup.pic}}" height="75" width="75"/>
          <h1 class="md-body-2">{{pickup.teacher}} - {{pickup.grade}}</h1>
        </md-card-content>
      </md-card>
{{/md-button}}
    {{else}}
        <img src="http://i.giphy.com/6HOkD1pSCne4E.gif" />
    {{/each}}
  </md-content>
</div>

{{outlet}}

</md-content>


{{outlet}}
